*{
    padding: 0px;
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.border{
    border: 1px solid black;
    box-sizing: border-box;
}
nav{
    height: 70px;
    display: flex;
    
}
header{
    min-height: 180px;
    
}
main{
    
    min-height: 650px;
    display: flex;
    padding:5px 5px 5px 0px;
}
footer{
    background-color: #eef0f0;
    height: 150px;
    display: flex;
    padding: 10px 5px 10px 10px;
    gap: 5px;
}
#logo{
    box-sizing: border-box;
    width: 30%;
    padding: 5px;
}
#menu{
    width: 70%;
   
}
.header-blocks{
    min-height: 43px;
    padding-left: 20px;
    margin-top: 10px;
    
}
.most-popular{
    background-color: #eef0f0;
    border-radius: 30px;
    width: 30%;
    margin: 5px 15px 10px 10px;
    
}
.accomodation{
    background-color: #eef0f0;
    border-radius: 30px;
    min-height: 80%;
    width: 65%;
    margin: 5px 15px 10px 20px;
    display: flex;
    flex-direction: column;
    
}
p{
    color: #434848;
    opacity:60%;
}
.all{
    display: flex;
    width: 40%;
    height: 65px;
    float: right;
    padding: 0px 5px 5px 5px;
}
.words{
    
    margin-left: 19px;
    background-image: 
    url("./images/info.png");
    box-sizing: border-box;
    background-repeat:no-repeat ;
    background-position:px;
    background-size:20px;
   
}
.words p{
    margin-left: 10px;
}
#words{
    margin-left: 10px;
    color: #434848;
    opacity:60%;
}
.acco{
    
    font-weight: bolder;
    color: blue;
    height: 100%;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin:  0px auto;
   
}
#acco{
    color: blue;
}
.act{
    border-style: hidden;
    border-top:3px solid blue;
}
.activities{
    
    height: 100%;
    width: 50%;
    text-align: center;
    padding: 20px;
    margin:  0px auto;
}
.logo{
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    height: 60px;
    font-weight: bolder;
    font-size: 30px;
}
.location{
    height: 40px;
    width: 30%;
    display: flex;
    padding: 5px 5px 5px 0px;
}
.filters{
    box-sizing: border-box;
    min-height: 43px;
    width: 60%;
   display: flex;
   
}
.cost{
    margin-left:9px ;
   text-align: center;
   min-width:20%;
   border-radius: 20px;
   box-sizing: border-box;
   background-repeat:no-repeat ;
   background-position:-5px;
   background-size:50px;
   box-shadow: 5px 5px 10px #aaaaaa;
}
div .short{
    margin: 10px ;
    margin-left: 30px;
}
div .long{
    margin: 10px ;
    margin-left: 45px;
}
#low{
    margin: 10px;
    margin-left: 10px !important;
}
.cost h4{
    margin: 10px;
    margin-left: 22.5%;
}
.cost1{
    background-image: url("./images/money1.png");
}
.cost2{
    background-image: url("./images/love2.png");
}
.cost3{
    background-image: url("./images/fri.png");
}
.cost4{
    background-image: url("./images/pets.png");
}

.main{
    box-sizing: border-box;
    height: 80%;
    
    padding: 5px 10px 20px 10px;
}
.head-foot{
    box-sizing: border-box;
    border-radius: 25px;
    height: 10%;
    padding: 20px 10px 10px 15px;
}
.main-1{
    border-radius: 20px;
    box-sizing: border-box;
    height: 80%;
    line-height: 20px;
    padding: 5px 10px 10px 10px;
}
aside{
    min-height: 450px;
    
}
.head-foot1{
    margin-top: 20px;
    box-sizing: border-box;
    height: 50px;
    padding: 30px 10px 0px 25px;
    
}
.main-2{
    box-sizing: border-box;
    width: 100%;
    height:400px ;
    display: flex;
    padding: 
    10px 0px 10px 0px;
    gap: 15px;
}
.foot-1{
    padding: 20px;
    width: 40%;
    line-height: 25px;
   
}
.foot-2{
    width: 50%;
    padding: 20px 20px 20px 60px;
    
    line-height: 25px;
   
}
.picture-1{
    border-radius: 20px;
    width: 100%;
    min-height: 50%;
    display: flex;
    gap: 30px;
    padding: 0px 0px;
    
}
.set{
    box-sizing: border-box;
    background-color: white;
    width: 35%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #aaaaaa;
    
}
.pics{
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p6{
    background-image: url("./images/6.jpg");
}
.p5{
    background-image: url("./images/5.jpg");
}
.p7{
    background-image: url("./images/7.jpg");
}
.p8{
    background-image: url("./images/8.jpg");
}
.p15{
    background-image: url("./images/15.jpg");
}
.p17{
    background-image: url("./images/17.jpg");
}
.set2{
    display: flex;
    background-color: white;
    width: 90%;
    height: 30%;
    margin: auto;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 5px 10px #aaaaaa;
    
}
.star{
    background-image: url("./images/star.png");
    background-repeat: no-repeat ;
    background-position: 90%;
    background-size:40px ;
}
.pics2{
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p2{
    background-image: url("./images/2.jpg");
}
.p3{
    background-image: url("./images/3.jpg");
}
.p4{
    background-image: url("./images/4.jpg");
}
.set3{
    box-sizing: border-box
    ;
    width: 49%;
    padding: 5px 10px 10px 20px;
    display: flex;
    gap: 20px;
}
.div1{
    box-sizing: border-box;
    width: 48%;
    border-radius: 20px;
    
}
.image1{
    border-radius: 20px;
    height: 85%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p12{
    background-image: url("./images/12.jpeg");
}
.p9{
    background-image: url("./images/9.jpg");
}
.image2{
    border-radius: 20px;
    height: 45%;
    box-shadow: 5px 5px 10px #aaaaaa;
}
.image3{
    height: 75%;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.p10{
    background-image: url("./images/10.jpg");
}
.p11{
    background-image: url("./images/11.jpeg");
}
.p13{
    background-image: url("./images/13.jpeg");
}
.p14{
    background-image: url("./images/14.jpeg");
}
.star1{
  box-sizing: border-box;
    background-repeat:no-repeat ;
    background-position:3px 210px;
    background-size:110px;

}
.text1{

    line-height: 20px;
    box-sizing: border-box;
    padding: 3px 5px 0px 5px;
}
.img4{
    background-image: url("./images/4star.png");
}
.img5{
    background-image: url("./images/5star.png");
}
.img3{
    background-image: url("./images/3star.png");
}
.text2{
    
    box-sizing: border-box;
    background-repeat:no-repeat ;
    background-position:5px 110px;
    background-size:110px;
    padding: 10px;
    line-height: 25px;
    margin: auto ;
     height: 138px;
    width: 60%;
}
.div3{
    box-sizing: border-box;
    width: 100%;
    height: 15%;
    padding: 20px;
}
.div4{
    box-sizing: border-box;
    width: 100%;
    height: 25%;
    padding: 10px;

}
.div5{
    box-shadow: 5px 5px 10px #aaaaaa;
}
.locate{
    box-sizing: border-box;
   border-radius: 10px;
   width: 11%;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   background-color: #eef0f0;   
}
header img{
    height: 40px;
    margin-left: 5px;
    margin-right: 10px;  
}
header input{
    box-sizing: border-box;
    height: 40px;
    border: 0px;
    padding: 2px 2px 2px 5px;
    margin-left: 3px;
    width: 200px;
}
header button{
    
    font-weight:bolder;
    font-size: 15px;
    color: white;
    background-color: blue;
    box-sizing: border-box;
    border-radius: 10px;
    width: 19%;
    border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}
.filt{
    margin: 10px 5px 5px 0px;
}
.filt-0{
    box-sizing: border-box;
    width: 10%;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}